@use '@variables' as variables;

.container {
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  padding: 80px 0;
}

.innerContainer {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.textContainer {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-family: variables.$fontPrimary;
  font-size: 36px;
  margin-bottom: 20px;
}

.description {
  font-family: variables.$fontSecondary;
  font-size: 20px;
}

button.link {
  font-style: normal;
  font-family: variables.$fontSecondary;
  font-size: 18px;
  padding-left: 0;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    padding: 40px 15px 80px;
  }
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .description {
    font-size: 18px;
  }
}
