.container {
  display: flex;
  position: absolute;
  top: 70px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image {
  height: auto;
  width: 250px;
  display: block;
}

.half {
  width: 230px;
  position: relative;
  left: -100px;
}

.full {
  width: 350px;
  position: relative;
  top: 100px;
  left: 50px;
}

.piece {
  width: 170px;
  position: relative;
  top: 290px;
  left: 50px;
}
