@import '@variables';

.container {
  display: flex;
  position: absolute;
  top: 70px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image {
  height: auto;
  display: block;
}

.half {
  width: 230px;
  position: relative;
  left: -100px;
}

.full {
  width: 350px;
  position: relative;
  top: 100px;
  left: 50px;
}

.piece {
  width: 170px;
  position: relative;
  top: 290px;
  left: 50px;
}

@media screen and (max-width: 1300px) {
  .half {
    width: calc(230px * 4 / 5);
    left: calc(-100px * 4 / 5);
    position: relative;
  }

  .full {
    width: calc(350px * 4 / 5);
    left: calc(50px * 4 / 5);
    top: calc(100px * 4 / 5);
    position: relative;
  }

  .piece {
    width: calc(170px * 4 / 5);
    left: calc(50px * 4 / 5);
    top: calc(290px * 4 / 5);
    position: relative;
  }
}

@media screen and (max-width: $tablet) {
  .half {
    width: calc(230px * 3 / 5);
    left: calc(-100px * 3 / 5);
  }

  .full {
    width: calc(350px * 3 / 5);
    left: calc(50px * 3 / 5);
    top: calc(100px * 3 / 5);
  }

  .piece {
    width: calc(170px * 3 / 5);
    left: calc(50px * 3 / 5);
    top: calc(290px * 3 / 5);
  }
}

@media screen and (max-width: $mobile) {
  .half {
    width: calc(230px * 2 / 5);
    left: calc(-100px * 2 / 5);
  }

  .full {
    width: calc(350px * 2 / 5);
    left: calc(50px * 2 / 5);
    top: calc(100px * 2 / 5);
  }

  .piece {
    width: calc(170px * 2 / 5);
    left: calc(50px * 2 / 5);
    top: calc(290px * 2 / 5);
  }
}
