@import '@variables';

.cookieGallery {
  display: grid;
  margin-bottom: 20px;
  margin: 0 auto 20px;
}

.heading {
  text-align: center;
  background-color: black;
  @include fontPrimary;
  font-size: 50px;
  color: white;
  padding: 20px 0 30px;
}

.button {
  display: block;
  margin: 50px auto 150px;
}

@media screen and (max-width: $mobile) {
  .heading {
    font-size: 23px;
  }
}
