@import '@variables';

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.image {
  height: auto;
  padding: 0 15px;
  opacity: 0.1;
}

@media screen and (max-width: $mobile) {
  .image {
    padding: 0 3px;
  }
}