@use '@mixins' as mixins;
@use '@variables' as variables;

.heading {
  text-align: center;
  @include mixins.fontPrimary;
  font-size: 50px;
  color: black;
  padding: 20px 0 30px;
}

@media screen and (max-width: variables.$mobile) {
  .heading {
    font-size: 23px;
  }
}
