@import '@variables';

.cookieGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 50px 100px;
}

.galleryTitle {
  text-align: center;
  color: $green;
  font-family: $fontPrimaryBold;
  font-size: 38px;
  margin-top: 50px;
}
