@import '@variables';

.footer {
  // padding: 0 15px;
}

.topRow {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.icon {
  display: block;
  color: black;
  transition: 0.3s;
  border-radius: 10px;
  &:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
  }
}

.fbook {
  margin-left: 15px;
  margin-bottom: 3px;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: right;
  a {
    @include fontPrimary;
    text-decoration: none;
    color: black;
    font-size: 32px;
  }
}

.subTextContainer {
  margin: 100px 0 150px;
  @include fontPrimary;
  text-align: center;
  font-size: 18px;
  p {
    margin: 7px 0;
  }
  a,
  a:active {
    color: black;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.image {
  height: auto;
  padding: 0 15px;
  opacity: 0.2;
}

.colorImage {
  opacity: 1;
}

.orryContainer {
  background-color: black;
  text-align: center;
  padding: 10px 0;
  color: white;
  @include fontPrimary;
  font-size: 15px;
  margin-top: 50px;
  a,
  a:active {
    color: white;
  }
}

@media screen and (max-width: $mobile) {
  .links a {
    font-size: 18px;
  }
  .subTextContainer {
    font-size: 12px;
    margin: 70px 0;
  }
  .image {
    padding: 0 5px;
  }
  .orryContainer {
    font-size: 12px;
    margin-top: 20px;
  }
}
