@import '@variables';

.footer {
}

.topRow {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.icon {
  display: block;
  color: black;
  margin-right: 5px;
}

.insta {
  width: 30px;
}

.fbook {
  width: 17px;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: right;
  a {
    @include fontPrimary;
    text-decoration: none;
    color: black;
    font-size: 32px;
  }
}

.copyrightText {
  @include fontPrimary;
  text-align: center;
  font-size: 18px;
  margin: 100px 0 150px;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.image {
  height: auto;
  padding: 0 15px;
}
