@use '@variables' as variables;

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px 50px;
  display: flex;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  margin-left: 80px;
  img {
    width: 100%;
    height: auto;
  }
}

.title {
  font-family: variables.$fontPrimary;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 50px;
}

.subheading {
  font-family: variables.$fontSecondaryBold;
  font-size: 24px;
  margin-bottom: 30px;
}

.paragraph {
  font-family: variables.$fontSecondary;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.2;
  &.bold {
    font-family: variables.$fontSecondaryBold;
    margin-top: 15px;
    font-size: 22px;
  }
}

.buttonsContainer {
  margin-top: 30px;
}

.pricingButton {
  margin-right: 12px;
}

@media screen and (max-width: variables.$mobile) {
  .title {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .subheading {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .container {
    flex-direction: column;
    padding: 40px 15px 30px;
  }
  .left,
  .right {
    width: 100%;
    margin: 0;
  }

  .left {
    margin-bottom: 50px;
  }
  .buttonsContainer {
    flex-direction: column;
  }
  .pricingButton {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
