@import '@variables';

.button {
  font-family: $fontPrimaryBold;
  background-color: $pink;
  color: $white;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 5px;
}

a.button {
  text-decoration: none;
}
