@import '@variables';

.button {
  font-family: $fontPrimaryBold;
  background-color: black;
  color: $white;
  font-size: 20px;
  padding: 10px 35px 14px;
  border-radius: 50px;
  transition: 0.3s;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
  }
}

a.button {
  text-decoration: none;
}
