@import '@variables';

.button {
  @include fontPrimary;
  background-color: black;
  color: $white;
  font-size: 20px;
  padding: 10px 35px 14px;
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid transparent;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    border: 2px solid black;
  }
}

a.button {
  text-decoration: none;
}
