@use '@mixins' as mixins;
@import '@variables';

.button {
  @include mixins.fontPrimary;
  background-color: black;
  color: $white;
  font-size: 20px;
  padding: 10px 35px 14px;
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid transparent;
  text-align: center;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    border: 2px solid black;
  }
  &.secondary {
    background-color: white;
    color: black;
    border: 2px solid black;
    &:hover {
      background-color: black;
      color: white;
      border: 2px solid transparent;
    }
  }
  &.small {
    font-size: 16px;
    padding: 8px 25px 10px;
  }
}

a.button {
  text-decoration: none;
}
