@use '@mixins' as mixins;
@import '@variables';

.left {
  width: 300px;
}

.title {
  @include mixins.fontPrimary;
  font-size: 20px;
  margin-bottom: 30px;
}

.storeName {
  @include mixins.fontSecondary;
  background: none;
  border: none;
  font-size: 18px;
  margin: 5px 0;
}
