.mobileMenu {
  display: flex;
  margin: 20px 0;
  list-style: none;
  align-items: center;
  align-content: center;
  .image {
    margin: 0 auto;
    transform: translateX(-25px);
    align-self: center;
  }
}
