@import '@variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: -50px 0 120px;
}

.image {
  height: auto;
  width: 250px;
  display: block;
}

.left {
  width: 100px;
  position: relative;
  top: 90px;
}

.right {
  position: relative;
  right: -100px;
}

@media screen and (max-width: $tablet) {
  .container {
    margin: -25px 0 60px;
  }
  .left {
    width: 50px;
    left: -50px;
    top: 45px;
  }
  .right {
    width: 50%;
    right: -50px;
  }
}
