@import '@variables';
.tile {
  width: 90%;
  margin: 20px 0;
  border: 1px solid rgba($grey, 0.3);
  overflow: hidden;
  position: relative;
  padding-bottom: 150px;
  img {
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
      transform: scale(1.1);
    }
  }
}

.textContainer {
  margin: 0 20px;
  @include fontPrimary;
}

.title {
  @include fontPrimaryBold;
  font-size: 20px;
  margin: 20px 0;
}

.content {
  //   3 line with elipsis overflow
  overflow: hidden;
  width: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  // end of elipsis overflow
  line-height: 1.5;
}

.date {
  margin: 50px 0 15px;
  color: $grey;
}

.button {
  background-color: $pink;
  color: $white;
  padding: 18px 0;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  @include fontPrimaryBold;
  text-transform: uppercase;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 150px;
}
