@use '@mixins' as mixins;
@import '@variables';

.menuItem {
  a {
    color: white;
    text-decoration: none;
    @include mixins.fontPrimary;
    text-transform: uppercase;
  }
  padding: 0 16px;
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
  }
  &.isMobile {
    color: $white;
    padding: 5px;
    a {
      color: $white;
      @include mixins.fontPrimary;
    }
  }
}
