@import '@variables';

.menuItem {
  a {
    color: white;
    text-decoration: none;
    padding: 0 16px;
    font-family: $fontPrimaryBold;
    text-transform: uppercase;
  }
  &.isMobile {
    color: $white;
    padding: 5px;
    a {
      color: $white;
      font-family: $fontPrimary;
    }
  }

  &.isActive a {
    color: $pink;
  }
}
