@use '@mixins' as mixins;
@use '@variables' as variables;

.inputContainer {
  @include mixins.fontSecondary;
  text-align: center;
}

.input {
  width: 300px;
  border-radius: 3px;
  input {
    padding: 12px 0;
    background-color: white;
    border-radius: 3px;
    text-align: center;
  }
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.error {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  @include mixins.fontSecondary;
}

@media screen and (max-width: variables.$mobile) {
  .inputContainer,
  .input {
    width: 100%;
  }
}
