@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  display: flex;
  height: 600px;
  overflow: hidden;
  margin-bottom: 120px;
  background-color: #f9a5da;
  &.blue {
    background-color: variables.$green;
  }
}

.left,
.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.right {
  flex-direction: column;
  justify-content: center;
}

.title {
  @include mixins.fontPrimary;
  font-size: 40px;
  width: 500px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.giftCardImage {
  width: 300px;
  margin: 35px 0 15px;
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15),
    0 2px 6px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
  }
}

.imageContainer {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}

.description {
  @include mixins.fontSecondary;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  padding: 0 50px;
  text-align: center;
}

@media screen and (max-width: variables.$tablet) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .left,
  .right {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .right {
    order: -1;
    padding: 40px 0;
  }
  .title {
    width: 100%;
    font-size: 36px;
    padding: 0 20px;
  }
}
