@import '@variables';

.imagesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 20px;
  margin-bottom: 50px;
  height: 300px;
  overflow: hidden;
}

.image {
  height: auto;
  width: 100%;
}

@media screen and (max-width: $tablet) {
  .imagesContainer {
    width: 300px;
    margin: 20px auto;
  }
}
