@import '@variables';

.cookieTile {
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p.title {
  @include fontPrimaryBold;
  font-size: 22px;
  text-align: center;
  padding: 0 20px;
}

.textContainer {
  margin-top: 20px;
}
