@import '@variables';

.container {
  border: 2px solid black;
  border-radius: 20px;
  width: 800px;
  margin: 0 auto;
  display: block;
  padding: 50px 80px;
  position: relative;
}

.heading {
  text-align: center;
  @include fontPrimary;
  font-size: 50px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  height: auto;
}

.blog {
  width: 180px;
}

.taste {
  width: 300px;
}

.star {
  width: 400px;
  margin: 30px auto 0;
}

.cookiePiece {
  position: absolute;
  height: auto;
}

.cookieLeft {
  left: -60px;
  width: 150px;
  top: -110px;
}
.cookieRight {
  width: 200px;
  top: -60px;
  right: -70px;
}

@media screen and (max-width: $tablet) {
  .container {
    width: 100%;
  }
  .image {
    width: 100%;
    margin: 10px 0;
  }
  .row {
    flex-direction: column;
    margin: 0;
  }

  // .blog,
  // .taste,
  // .star {
  //   width: 100%;
  // }
}
