@use '@mixins' as mixins;
@import '@variables';

.container {
  border: 2px solid black;
  border-radius: 20px;
  width: 800px;
  margin: 0 auto;
  display: block;
  padding: 50px 80px;
  position: relative;
}

.heading {
  text-align: center;
  @include mixins.fontPrimary;
  font-size: 50px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  height: auto;
}

.blog {
  width: 180px;
}

.taste {
  width: 300px;
}

.streets {
  width: 350px;
  margin: 50px auto 30px;
  filter: grayscale(100%);
}

.cookiePiece {
  position: absolute;
  height: auto;
}

.cookieLeft {
  left: -60px;
  width: 150px;
  top: -110px;
}
.cookieRight {
  width: 200px;
  top: -60px;
  right: -70px;
}

@media screen and (max-width: $tablet) {
  .container {
    width: 80%;
    padding: 30px 25px;
  }
  .heading {
    font-size: 28px;
  }
  .image {
    width: 100%;
    margin: 10px 0;
    padding: 0 5px;
  }
  .row {
    flex-direction: column;
    margin: 0;
  }

  .cookieLeft {
    left: -30px;
    width: 70px;
    top: -60px;
  }
  .cookieRight {
    width: 120px;
    top: -40px;
    right: -40px;
  }

  .blogContainer {
    order: 2;
    margin: 20px 0;
  }

  .blog {
    width: 100px;
  }

  .taste {
    width: 180px;
  }

  .streets {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
}
