@import '@variables';

.imageContainer {
  width: 50%;
  display: flex;
  img {
    width: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}
.rightColumn {
  margin-left: 50px;
}

@media screen and (max-width: $tablet) {
  .imageContainer {
    width: 100%;
    justify-content: center;
  }

  .rightColumn {
    display: none;
  }
}
