@use '@mixins' as mixins;
@import '@variables';

.textContainer {
  width: 1200px;
  margin: 0 auto;
  color: $black;
  padding-right: 100px;
  @include mixins.fontPrimary;
}

.title {
  margin: 40px 0;
}

.titleTop {
  font-size: 35px;
}

.titleBig {
  font-size: 50px;
  line-height: 1;
}

.text {
  margin-bottom: 25px;
  @include mixins.fontSecondaryBold;
  font-size: 18px;
}

.signatureContainer {
  margin-top: 30px;
  width: 100%;
  .text {
    margin-bottom: 5px;
  }
}

.signature {
  width: 120px;
  height: auto;
}

.signatureTopRow {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: $desktop) {
  .textContainer {
    padding: 0 15px;
    width: 100%;
  }
}

@media screen and (max-width: $tablet) {
  .textContainer {
    width: 100%;
    color: $black;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: $mobile) {
  .titleTop {
    font-size: 24px;
  }
  .titleBig {
    font-size: 40px;
  }
  .title {
    margin: 25px 0;
  }
  .textContainer {
    margin-top: 70px;
  }
}
