@import '@variables';

.container {
  // background-image: url('/rebuild/banner-min.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.5s 0.5s linear forwards;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
}

.textContainer {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInAndSlideUp 0.5s 0.8s linear forwards;
  text-align: center;
  z-index: 1;
  letter-spacing: 2px;
}

.heading {
  @include fontPrimary;
  text-transform: uppercase;
  // font-size: 70px;
  font-size: 50px;
  text-align: center;
  position: relative;
}

.button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
}

// video stuff below

.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.lightOverlay {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  animation-delay: 2s;
}

.videoButton {
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  opacity: 0;
  animation: fadeIn 0.5s 3s linear forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndSlideUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: $mobile) {
  .heading {
    font-size: 32px;
  }
  .textContainer {
    position: relative;
    top: 0;
    z-index: 1;
  }
  .container {
    min-height: 70vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    &:after {
      content: '';
      background-color: rgba(255, 255, 255, 0.4);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .lightOverlay {
    display: none;
  }
  .videoContainer {
    height: 70vh;
  }
  .bottomContainer {
    margin-top: 200px;
  }
}
