@import '@variables';

.container {
  margin-bottom: 300px;
  background-image: url('/rebuild/cookies-in-box.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.textContainer {
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
}

.heading {
  font-family: $fontPrimaryBold;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  z-index: 1;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
