@import '@variables';

.container {
  margin-bottom: 350px;
  background-image: url('/rebuild/cookies-in-box.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.textContainer {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadeIn 0.3s linear forwards;
  text-align: center;
}

.heading {
  @include fontPrimaryBold;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  z-index: 1;
  letter-spacing: 2px;
}

.button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
