@import '@variables';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 15px 50px 15px;
}

.left {
  width: 800px;
}

.right {
  position: relative;
  top: -80px;
  width: 400px;
  img {
    height: auto;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    padding: 20px;
  }
  .right {
    margin-top: 80px;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    margin: 150px auto 0;
  }
}
