@import '@variables';

.container {
  display: flex;
}

.left {
  width: 800px;
}

.right {
  position: relative;
  top: -130px;
  width: 400px;
  img {
    height: auto;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    flex-direction: column;
  }
  .right {
    margin-top: 40px;
  }
}
