@import '@variables';

.imagesContainer {
  width: 100%;
  display: grid;
  gap: 0 20px;
  margin-bottom: 50px;
}

.image {
  height: auto;
}

@media screen and (max-width: $tablet) {
  .imagesContainer {
    width: 300px;
    margin: 20px auto;
  }
}
