@use '@mixins' as mixins;
@import '@variables';

.container {
  display: flex;
  width: 1200px;
  margin: 80px auto 120px;
  padding: 0 15px;
}

.rightContainer {
  width: 100%;
  @include mixins.fontSecondary;
  font-size: 18px;
}

@media screen and (max-width: $desktop) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    flex-direction: column;
  }
}
