@import '@variables';

.container {
  display: flex;
  width: 1280px;
  margin: 80px auto 120px;
}

.left {
  width: 300px;
}

.title {
  @include fontPrimary;
  font-size: 20px;
  margin-bottom: 30px;
}

.storeName {
  @include fontSecondary;
  background: none;
  border: none;
  font-size: 18px;
  margin: 5px 0;
}

.locationsContainer {
  width: 100%;
  @include fontSecondary;
  font-size: 18px;
}

.imagesContainer {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  .image {
    height: auto;
    padding: 0 10px;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.bottomRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.storeRight {
  text-align: right;
  @include fontSecondaryBold;
}

.launchDate {
  margin-bottom: 25px;
  @include fontSecondaryBold;
}

.locationTitle {
  margin-bottom: 25px;
  @include fontPrimary;
  font-size: 20px;
}

.hoursOfOperation {
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.description {
  width: 600px;
}
