@use '@variables' as variables;

.outerContainer {
  position: relative;
  background-color: rgba(variables.$green, 0.5);
  margin-top: 100px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 300px 20px 80px;
}

.title {
  font-family: variables.$fontPrimary;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  background-color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: variables.$fontSecondary;
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 24px;
  &:last-child {
    border-bottom: none;
  }
}

.price {
  font-family: variables.$fontSecondaryBold;
  font-size: 24px;
}

.left {
  display: flex;
  align-items: center;
  svg {
    margin-right: 7px;
  }
}

.topSvg {
  position: relative;
  fill: rgba(variables.$green, 0.5);
  background-color: white;
}

.subheading {
  font-family: variables.$fontPrimary;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list {
  li {
    font-family: variables.$fontSecondary;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.paragraph {
  font-family: variables.$fontSecondary;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}

.bottomSvg {
  fill: white;
  height: 100px;
  overflow: hidden;
}

.cookies {
  top: -120px !important;
}

@media screen and (max-width: variables.$tablet) {
  .container {
    padding: 120px 15px 80px;
  }
}

@media screen and (max-width: variables.$mobile) {
  .grid {
    width: 100%;
  }
  .container {
    padding: 40px 15px;
  }
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .row,
  .price {
    font-size: 20px;
  }

  .subheading {
    font-size: 24px;
  }
  .list {
    li {
      font-size: 18px;
      margin-left: 20px;
    }
  }
  .bottomSvg {
    height: 40px;
  }
}
