@use '@variables' as variables;

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px;
}

.title {
  font-family: variables.$fontPrimary;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.bottomContainer {
  background-color: rgba(variables.$green, 0.5);
}

.grid {
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  background-color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: variables.$fontSecondary;
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 24px;
  &:last-child {
    border-bottom: none;
  }
}

.price {
  font-family: variables.$fontSecondaryBold;
  font-size: 24px;
}

.left {
  display: flex;
  align-items: center;
  svg {
    margin-right: 7px;
  }
}

.svg {
  position: relative;
  top: 4px;
  fill: rgba(variables.$green, 0.5);
}

.subheading {
  font-family: variables.$fontPrimary;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list {
  li {
    font-family: variables.$fontSecondary;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.paragraph {
  font-family: variables.$fontSecondary;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}

.bottomSvg {
  background-color: rgba(variables.$green, 0.5);
  fill: white;
  height: 100px;
  overflow: hidden;
}
