@import '@variables';

.outerContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.innerContainer {
  display: flex;
  transition: 0.7s;
}

@media screen and (max-width: $tablet) {
  .outerContainer {
    padding-bottom: 30px;
  }

  .leftArrow,
  .rightArrow {
    height: 100%;
    border-radius: none;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0 15px;
  }
  .rightArrow {
    left: auto;
    right: 0;
  }
}
