.fadeUp {
  animation: fadeUp 500ms;
  -webkit-animation: fadeUp 1000ms;
}

.slideRight {
  animation: slideRight 500ms;
  -webkit-animation: slideRight 500ms;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: none;
  }
}

@keyframes fadeUp {
  0% {
    transform: translate3d(0px, 10%, 0px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    transform: translate3d(0px, 10%, 0px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
