* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../asset/gilroy/Gilroy-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('../asset/gilroy/Gilroy-Bold.woff');
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../asset/gilroy/Gilroy-Medium.woff');
}

@font-face {
  font-family: 'Integral CF Heavy';
  src: url('../asset/Integral CF/IntegralCF-Heavy.ttf');
}

@font-face {
  font-family: 'Regave';
  src: url('../asset/Regave/Regave Regular.ttf');
}

@font-face {
  font-family: 'Regave Bold';
  src: url('../asset/Regave/Regave\ Bold.ttf');
}

html {
  scroll-behavior: smooth;
}
