// Colors
$white: #fff;
$black: #2f2f2f;
$green: #1dd1cc;
$pink: #f752b0;
$grey: #808080;

// Fonts
$fontPrimary: 'Integral CF Heavy';
$fontSecondary: 'Regave';
$fontSecondaryBold: 'Regave Bold';

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;

@mixin fontPrimary {
  font-family: $fontPrimary;
  letter-spacing: 2px;
}

@mixin fontSecondary {
  font-family: $fontSecondary;
  line-height: 1.2;
}

@mixin fontSecondaryBold {
  font-family: $fontSecondaryBold;
  letter-spacing: 0;
  line-height: 1.2;
}
