@import './typography.module.scss';

// Colors
$white: #fff;
$black: #2f2f2f;
$green: #1dd1cc;
$pink: #f752b0;
$grey: #808080;

// Fonts
$fontPrimary: 'Gilroy';
$fontPrimaryBold: 'Gilroy Bold';
$fontPrimaryMedium: 'Gilroy Medium';

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;
