@import './typography.module.scss';

// Colors
$white: #fff;
$black: #2f2f2f;
$green: #1dd1cc;
$pink: #f752b0;

// Fonts
$fontPrimary: 'Gilroy';
$fontPrimaryBold: 'Gilroy Bold';
$fontPrimaryMedium: 'Gilroy Medium';
