@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  align-items: center;
  overflow: hidden;
}

.outerScrollContainer {
  overflow: hidden;
}

.innerScrollContainer {
  display: flex;
  flex-wrap: nowrap;
}

.image {
  position: relative; // Required for layout="fill"
  overflow: hidden; // Crop overflowed image
  display: flex;
  align-items: center;
  margin-right: 13px;
  flex-shrink: 0;
  object-fit: cover;
  width: 250px;
  height: 350px;
  img {
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: variables.$fontPrimary;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  animation: fadeIn 0.2s;
}

.button {
  width: 80%;
}

.description {
  font-family: variables.$fontSecondary;
  font-size: 14px;
  margin: 20px 0;
}

.button {
  width: 250px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
