@use '@mixins' as mixins;
@use '@variables' as variables;

.form {
  padding: 50px;
  padding-top: 0;
  width: 100%;
  @include mixins.fontPrimary;
  color: variables.$black;
}

.successText,
.loaderContainer {
  height: 620px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.label {
  font-size: 16px !important;
  font-family: variables.$fontPrimary !important;
  display: flex;
  flex-direction: column;
  color: variables.$black;
  letter-spacing: 2px;
}

.successText {
  @include mixins.fontPrimary;
  color: variables.$black;
  font-size: 36px;

  p {
    margin-top: 20px;
  }
}

.successText,
.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 100px;
  width: 50%;
}

@media screen and (max-width: variables.$tablet) {
  .form {
    width: 100%;
    margin-top: 30px;
  }
  .responsiveInput {
    width: 100%;
  }
  .successText,
  .loaderContainer {
    width: 100%;
    padding: 50px 0;
  }
}

@media screen and (max-width: variables.$mobile) {
  .form {
    padding: 0;
    margin-top: 0;
  }
  .title {
    font-size: 24px;
  }
  .right {
    width: 100%;
  }
}
